/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  background: url(assets/images/bg.jpg) no-repeat;
  background-color: #031019;
  background-size: cover;
  height: 100vh;
}
