<div class="text-light text-center mt-5">
  <h1 class="display-1">
    <small>Welcome to</small>
    Summo<wbr>ners Rift
    </h1>
    <p class="lead mt-5">
      You have been called upon to take part in the most exciting challenge of your life: to end the endless conflicts
      in
      Valoran. The human nation of Demacia, the amazing empire of Noxus and the residents of all city-states are looking
      forward to this moment.
    </p>
    <button type="button" class="btn btn-outline-light btn-lg mt-5" [routerLink]="['/tournament-settings']">Tournament
      Settings</button>
</div>
