<div class="d-flex flex-column h-100 p-3">
  <main class="flex-shrink-0">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="mt-auto text-white-50 text-center">
    <hr class="bg-info bg-gradient">
    <p>Summoners Rift. <br>
      Challenge created by <a href="https://tech.nibo.com.br/" target="_blank" class="text-info">Nibo team</a>
      and
      project developed by <a href="https://github.com/dev-denner" target="_blank" class="text-info">Denner
        Fernandes</a>.</p>
  </footer>
</div>
